{% extends "base.html" %}

{% block title %}spitkov - Blog{% endblock %}

{% block content %}
<div class="blog-list">
    <h1>Blog Posts</h1>
    <ul>
        {% for post in blog_posts %}
            <li class="blog-post-item">
                <a href="{{ url_for('blog_post', post_name=post.filename) }}" class="blog-post-link">
                    <div class="blog-post-title">{{ post.title }}</div>
                    {% if post.date %}
                        <div class="blog-post-date">{{ post.date.strftime('%B %d, %Y') }}</div>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
