{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card main-profile">
        <section id="profile" class="centered-profile">
            <img src="https://i.spitkov.hu/u/9PKR5J.png" alt="spitkov" class="profile-pic">
            <h1 class="name">spitkov</h1>
            <div class="contact-info">
                <p><a href="mailto:hello@spitkov.hu">📧 hello@spitkov.hu</a></p>
                <p><a href="tel:+36305350131">📱 +36305350131</a></p>
                <p>📍 Hungary</p>
            </div>
        </section>
    </div>

    <div class="card">
        <section id="about">
            <h2>👋 about me</h2>
            <p>full-stack dev • infosec enthusiast • python • flask • docker • pentesting • networking • backends</p>
        </section>
    </div>

    <div class="card">
        <section id="discord-status">
            <h2>🎮 what i'm doing</h2>
            <ul class="contacts-list"></ul>
        </section>
    </div>
</div>
{% endblock %}
