{% extends "base.html" %}

{% block title %}spitkov - Portfolio{% endblock %}

{% block content %}
<div class="portfolio-content">
    <h1>Portfolio</h1>
    <div class="card">
        <h2>My Projects</h2>
        <ul>
            <li>
                <h3>fileb.in</h3>
                <p>magyar peter sponsored file sharing service</p>
                <a href="https://fileb.in" class="material-button">Visit Fileb.in</a>
            </li>
            <li>
                <h3>sxbin.gay</h3>
                <p>File sharing & URL shortening service with sharex support</p>
                <a href="https://sxbin.gay" class="material-button">Visit sxbin.gay</a>
            </li>
            <li>
                <h3>TechTalk</h3>
                <p>dont visit this</p>
                <a href="https://techtalk.spitkov.hu" class="material-button">Visit TechTalk</a>
            </li>
            <li>
                <h3>Cryptpad</h3>
                <p>Collaborative Online Office tool</p>
                <a href="https://office.bence.lol" class="material-button">Visit Cryptpad</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
